<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AttendanceEnter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
  <!--<add name="POS.Properties.Settings.POSCS" connectionString="Data Source=DESKTOP-J3943PI\SQLEXPRESS01;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=M@nP0w3R@MSPL" />
  <add name="POS.Properties.Settings.POSConnectionString" connectionString="Data Source=DESKTOP-J3943PI\SQLEXPRESS01;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=M@nP0w3R@MSPL"
   providerName="System.Data.SqlClient" />-->
  
  <add name="POS.Properties.Settings.POSCS" connectionString="Data Source=DESKTOP-2IIHPSL;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=M@nP0w3R@MSPL" />
  <add name="POS.Properties.Settings.POSConnectionString" connectionString="Data Source=DESKTOP-2IIHPSL;Initial Catalog=POS;Persist Security Info=True;User ID=sa;Password=M@nP0w3R@MSPL"
   providerName="System.Data.SqlClient" />
  
 </connectionStrings>
    <userSettings>
        <POS.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
        </POS.Properties.Settings>
        <AttendanceEnter.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
        </AttendanceEnter.Properties.Settings>
    </userSettings>
</configuration>